/* --------------------------------- *
 * $STYLE.SCSS                       *
 * --------------------------------- */
/**
 * SASS variables.
 */
$use-nav:  true;
$use-btn:  true;
$use-logo: true;



/**
 * Import all SASS project files.
 */
@import 'setup';



/**
 * Import the global header.
 */
@import 'header';



/**
 * Import the global footer.
 */
@import 'footer';
