@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/normalize';
@import 'partials/boilerplate';

@import 'partials/typography';

@import 'objects/btn';
@import 'objects/nav';

.header {
  position: relative;
  padding: 4rem 0;
}

.header--global {
  color: $font-color;

  background: linear-gradient(135deg, $secondary-color, $primary-color);

  & .btn--hamburger {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}


.logo {
  display: inline-block;
}

  .logo__img {
    width: 100px;
    height: auto;
  }
