/* --------------------------------- *
 * $TYPOGRAPHY                       *
 * --------------------------------- */
/**
 * Font weights.
 */
$light:   100;
$regular: 400;
$bold:    600;



/**
 * Base font settings.
 *
 * The main font settings used throughout the document.
 */
$font-color:       #222;
$font-color-alt:   #fff;
$font-family:      "Source Sans Pro", "Arial", sans-serif;
$font-weight:      $regular;
$font-size:        18px;
$font-line-height: 1.4;



/**
 * Heading font settings.
 *
 * Separate settings for headings.
 */
$heading-font-color:       $font-color;
$heading-font-family:      "Lato", $font-family;
$heading-font-weight:      $bold;
$heading-font-line-height: 1.2;





/* --------------------------------- *
 * $COLORS                           *
 * --------------------------------- */
/**
 * Branding colors.
 * 
 * Expand with additional variables if needed.
 */
$primary-color:   #2aab87;
$secondary-color: #0f7987;
$tertiary-color:  #222;
$alt-color:       #eee;

$ui-color:        #ccc; // For things like borders.





/* --------------------------------- *
 * $TRANSITIONS                      *
 * --------------------------------- */
/**
 * Transition settings.
 *
 * If transitions are used on a global level, define them here.
 */
$transition: all 0.4s cubic-bezier(.3,0,.7,1);





/* --------------------------------- *
 * $GLOBAL VARIABLES                 *
 * --------------------------------- */
/**
 * Objects that will be imported.
 */
$use-nav:   false !default;
$use-btn:   false !default;
$use-logo:  false !default;



/**
 * Enable to output an IE8 stylesheet.
 */
$no-mq:     false !default;
